<article class="sidebar">
  <h1 class="sidebar-title">Obras de arte</h1>
  <p class="sidebar-body">
    Estas son parte de las obras de arte que puedes ver.
  </p>
  <div class="pixgrid clearfix">
    <% artwork.forEach(function (item, key) {%>
    <img src="/images/artwork/<%=item%>" alt="Artwork <%=key%>" />
    <%})%>
  </div>
</article>
