<%- include('./partials/topSpeakers') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Museo del Prado</h1>
        <p>
          El Museo del Prado, oficialmente Museo Nacional del Prado, es uno de los museos de arte más
          sobresalientes del mundo,​ así como uno de los más visitados (el noveno en 2023). Con sede en
          Madrid, España, está asimismo considerado como la institución cultural más importante del país, según el
          Observatorio de la Cultura de 2023, estudio realizado entre varios centenares de profesionales del
          sector.
        </p>
        <p>
          El inventario de bienes artísticos comprendía, a febrero de 2017, más de 35 000 objetos, desglosados
          en 8045 pinturas, 9561 dibujos, 5973 estampas y 34 matrices de estampación, 971 esculturas (además de
          154 fragmentos), 1189 piezas de artes decorativas, 38 armas y armaduras, 2155 medallas y monedas,
          por encima de 15 000 fotografías, 4 libros y 155 mapas.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Siguenos</h2>
        <p>
          Si quieres estar informado con las ultimas noticias del museo.
          <a href="http://www.meetup.com/museprado">unete a nuestro grupo</a>,
          <a href="http://www.twitter.com/museprado">Síguenos en twitter</a>. Si estás en Facebok, también puedes
          <a href="http://www.facebook.com/museprado">unirte al grupo de Facebook</a>.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">¿Por que venir?</h1>
        <ul class="sidebar-body">
          <li>Educación y Aprendizaje</li>
          <li>Desarrollo de la Creatividad y el Pensamiento Crítico</li>
          <li>
            Bienestar Emocional
          </li>
        </ul>
      </article>
      <%- include('./partials/artwork') %>
    </aside>
  </div>
</div>
