<%- include('./partials/topSpeakers') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Museo del prado</h1>
        <p>
          El Museo del Prado, oficialmente Museo Nacional del Prado, es uno de los
          museos de arte más sobresalientes del mundo,​ así como uno de los más
          visitados (el noveno en 2023).​ Con sede en Madrid, España, está asimismo
          considerado como la institución cultural más importante del país, según el
          Observatorio de la Cultura de 2023, estudio realizado entre varios centenares de
          profesionales del sector.
        </p>
        <p>
          El inventario de bienes artísticos comprendía, a febrero de 2017, más de 35 000
          objetos, desglosados en 8045 pinturas, 9561 dibujos, 5973 estampas y 34 matrices
          de estampación, 971 esculturas (además de 154 fragmentos), 1189 piezas de artes
          decorativas, 38 armas y armaduras, 2155 medallas y monedas, por encima de
          15 000 fotografías, 4 libros y 155 mapas.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Get Busy!</h2>
        <p>
         Por endémicas limitaciones de espacio, el museo exhibía una selección de obras de
         máxima calidad (unas 900), por lo que era definido como «la mayor concentración
         de obras maestras por metro cuadrado». Con la ampliación de Rafael Moneo,
         inaugurada en 2007, se previó que la selección expuesta crecería en un 50 %, con
         unas 450 obras más.​ Además, en 2018 se reabrieron las salas del ático norte. A
         junio de 2025 se expone un total superior a 1865 piezas, en 95 salas.​ Y cuando
         se rehabilite el edificio del Salón de Reinos se prevé que colgarán en él entre 250 y
         300 pinturas más.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Razones por las que deberias venir</h1>
        <ul class="sidebar-body">
          <li>Para ampliar conocimiento y la curiosidad</li>
          <li>Para la inspiración y la reflexión</li>
          <li>
            Para el bienestar personal
          </li>
        </ul>
      </article>
      <%- include('./partials/cuadro') %>
    </aside>
  </div>
</div>
